.button-warning {
    color: @warning_color;
}

/* Library page */

flowbox flowboxchild {
    padding: 6px; /* default is 4px */
}

.library-manga-name-label {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    padding: 20px 8px 4px 8px;
}

/* Manga card page */
.card-info-rows {
    margin-bottom: 6px;
}

.card-info-rows row {
    margin: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.card-info-rows row:active {
    background-color: @theme_base_color;
}

.card-info-label {
    background-color: @theme_base_color;
    border-style: solid;
    border-width: 1px;
    border-color: alpha(@borders, 0.7);
    border-radius: 9px;
    padding: 12px;
}

.card-info-label:backdrop {
    color: @theme_text_color;
}

.card-chapter-listboxrow {
    padding: 12px 6px 12px 12px;
}
.card-chapter-label {
    font-size: 14px;
}
.card-chapter-label-started {
    color: @warning_color;
}

.card-chapter-sublabel {
    font-size: 10px;
}

.badge {
    color: #fff;
    background-color: #3399ff;
    padding: 0 .4em;
    border-radius: .25rem;
}

.card-cover-frame {
    box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.15);
    border-width: 0px;
}

.dim-title {
    font-weight: 800;
    font-size: 16pt;
    color: alpha(@theme_fg_color, 0.5);
}

/* Reader page */
.reader-controls-bottom-box {
    background: rgba(0, 0, 0, .75);
    color: #fff;
}

.reader-page-number-indicator-label {
    color: #fff;
    letter-spacing: 1px;
    /* bordered text */
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    margin-bottom: 8px;
}


.explorer-dialog-server-header-listboxrow {
    padding: 12px;
    font-size: 14pt;
    font-weight: bold;
    background: @insensitive_bg_color;
}


/* Explorer - search page */
.explorer-dialog-search-section-listboxrow {
    font-weight: bold;
    color: @insensitive_fg_color;
    background: @insensitive_bg_color;
}

/* Download manager dialog */
.download-manager-download-listboxrow {
    border-bottom: 1px solid @borders;
    padding: 6px 6px 12px 6px;
}
.download-manager-download-label {
    font-size: 14px;
}
.download-manager-download-sublabel {
    font-size: 10px;
}
