/* Main window - library page - manga cover */
.library-manga-name-label {
    background: rgba(0, 0, 0, .5);
    color: #fff;
}

/* Main window - manga card page - chapters list */
.card-chapter-listboxrow {
    border-bottom: 1px solid #ccc;
    padding: 16px;
}
.card-chapter-label {
    font-size: 14px;
}
.card-chapter-label-started {
    color: #3949ab;
}
.card-chapter-label-ended {
    color: #bbb;
}

.card-chapter-counter-label {
    font-size: 10px;
}
